<!DOCTYPE html>
<html lang="en" <%if(VUE_APP_DEV_MODE){%>devmode="true"<%}%>>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title><%= VUE_APP_TITLE %></title>
    <script>
      // Work around crazy vh behavior on Mobile!!!
      // More: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
      function updateCustomVH() {
        // First we get the viewport height and we multiply it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;

        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', vh + 'px');
      }
      // We listen to the resize event
      window.addEventListener('resize', updateCustomVH);
      updateCustomVH();

    </script>
  </head>
  <body class="loading">
    <noscript>
      <strong>We're sorry but '<%= VUE_APP_TITLE %>' doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="module" src="src/main.ts"></script>
  </body>
</html>
