// Default size for game: 500x600
//
// Specified in core/screen.ts
.game-container {
    .loading & {
        display: none;
    }

    //opacity: 0;
    //&.ready { opacity: 1; }

    display: inline-grid;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 30px;
    // align-items: start;

    border-radius: 5px;

    padding: 24px;

    background-color: rgba(18, 18, 18, 0.58) !important;

    #game {
        background-color: black;

        > canvas {
        }
    }

    .control-panel {
        justify-self: center;

        margin-left: 16px;
    }

    #status {
        background-color: black;
    }
}

// Predefine some sizes to avoid flickering when
// Game gets loaded
.game-container {
    width: 774px; height: 682px;
    #game { width: 500px; height: 604px; }
}
