@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$background-color: #244ecf !default;

$game-container-width: 774px !default;
$game-container-height: 682px !default;
$game-container-border-radius: 5px !default;
$game-container-border-padding: 24px !default;

// 375 x 565
$game-width: 500px !default;
$game-height: 604px !default;
$game-background-color: rgba(18, 18, 18, 0.58) !default;

$game-status-height: 30px;

// Predefine some sizes to avoid flickering when
// Game gets loaded
.game-container {
    width: $game-container-width;
    height: $game-container-height;

    #game {
        //display: flex;
        //flex-direction: row;
        //flex-wrap: wrap;
        //justify-content: flex-start; // ⇾
        //align-content: space-between; // ||
        //align-items: flex-start; // ↓

        > canvas {
            // flex-grow: 1;
        }

        // width: 100%;
        // margin-left: auto;
        // margin-right: auto;

        width: $game-width;
        height: $game-height;
    }
}

// Default size for game: 500x600
//
// Specified in core/screen.ts
.game-container {
    user-select: none;

    .loading & {
        display: none;
    }

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; // ⇾
    align-content: flex-start; // ||
    align-items: flex-start; // ↓


    //    display: inline-grid;

    //    grid-template-columns: auto 1fr;
    //    grid-template-rows: auto 30px;
    // align-items: start;

    // Control-Panel becomes a "popup" so we don't
    // need the last column anymore
    @media (max-width: 780px) {
        width: auto;
        // grid-template-columns: auto;

        //&.continue {
        //    .control-panel {
        //        display: none;
        //    }
        //}

        &.youwon, &.youlost, &stopped {
            #game, #status {
                filter: blur(2px);
            }
        }
    }

    @media (max-width: 550px) {
        height: 100%;
    }

    border-radius: $game-container-border-radius;

    padding: $game-container-border-padding;
    @media (max-width: 830px) {
        padding: 0;
        height: initial;
    }

    background-color: $game-background-color !important;

    .inner-game-container {
        margin-left: auto;
        margin-right: auto;
        
        #game {
            background-color: black;

            //@media (max-width: 550px) {
            //    height: 100%;
            //}

            > canvas {
            }
        }

        #status {
            background-color: black;

            width: $game-width;
            height: $game-status-height;

            // margin-left: auto;
            // margin-right: auto;
        }

    }

    .control-panel {
        width: 210px;
        // max-width: 300px;
        // min-width: 280px;
        justify-self: center;

        margin-left: 16px;
        @media (max-width: 830px) {
            padding-top: $game-container-border-padding;
        }

        // Show control-panel as popup
        @media (max-width: 780px) {
            width: 300px;
            -webkit-backface-visibility: hidden;

            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;

            position: absolute;
            margin-left: auto;
            margin-right: auto;

            // Needed on Chrome for Android, otherwise
            // popup moves below content
            top: 0;
            left: 0;
            right: 0;

            margin-top: 24px;

            z-index: 100;
        }
    }

}

// - Media queries ---------------------------------------------------------------------------------

// Device = Desktops
// Screen = 1281px to higher resolution desktops
@media (min-width: 1281px) {
}

// Device = Laptops, Desktops
// Screen = B/w 1025px to 1280px
@media (min-width: 1025px) and (max-width: 1280px) {
}

// Device = Tablets, Ipads (portrait)
// Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) {
}

// Device = Tablets, Ipads (landscape)
// Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

// Device = Low Resolution Tablets, Mobiles (Landscape)
// Screen = B/w 481px to 767px
@media (min-width: 481px) and (max-width: 767px) {

    //CSS

}

// Most of the Smartphones Mobiles (Portrait)
// B/w 320px to 479px
@media (min-width: 320px) and (max-width: 480px) {
    .game-container {
        // Should not be necessary but flexbox calculates the height wrong
        overflow-y: hidden;

        flex-basis: calc(var(--content-height, 100%));

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓

        border-radius: 0;
        background-color: $background-color;
        // width: 100%;
        // height: 100%;

        .inner-game-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start; // ↓
            align-content: space-between; // =
            align-items: flex-start; // ⇾

            flex-grow: 1;

            #game, #status {
                width: 100%;
            }

            #game {
                flex-grow: 0;
                flex-shrink: 1;
                // flex-basis: calc(var(--content-height, 100%) - #{$game-status-height} - 10px);

                height: calc(var(--content-height, 100%) - #{$game-status-height});
                max-height: calc(var(--content-height, 100%) - #{$game-status-height});

                // max-height: calc(var(--content-height, 100%));
            }

            #status {
                // flex-grow: 1;
            }
        }

        .control-panel {

        }

    }
}


// - Typography ------------------------------------------------------------------------------------

.arcade {
    color: #FBE165;
    font-family: 'Press Start 2P', cursive;

    &.large {
        font-size: 24px;

        &.top {
            margin: 0;
        }
    }


}

.status-message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; // ↓
    align-content: space-between; // =
    align-items: stretch; // ⇾

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }

    &__subheadline {
        text-align: center;
    }

}

